# Symfony
/app/config/parameters.yml
/var/cache/*
/var/logs/*
/var/log/*

/var/sessions/*
!/var/cache/.gitkeep
!/var/logs/.gitkeep
!/var/sessions/.gitkeep

# Composer
/vendor/

# Node.js
/node_modules/

# IDE
/.idea/

# Symfony encore
/public/build/

# PHPUnit
/phpunit.xml

.env