<div class="col-lg-2 py-4 d-flex {{ classParent ?? null }} justify-content-center">
    <div class="d-flex gap-2 {{ class }}">
        <div>
            <a href="{{ product.getLink() }}" class="btn btn-warning text-white" target="_blank">Comprar ahora ></a>
        </div>
        <img class="mt-2" src="{{ asset('images/logo-amazon.png') }}" alt="Logo de Amazon" width="150">
    </div>
</div>