<div class="star-ratings" data-rating="{{ rating }}">
    <div class="fill-ratings">
        <span>★★★★★</span>
    </div>
    <div class="empty-ratings">
        <span>★★★★★</span>
    </div>
</div>